*.chordpro linguist-detectable
*.cho linguist-detectable
*.pro linguist-detectable
*.txt linguist-detectable
*.lst linguist-detectable
#*.pro linguist-documentation
#*.pro linguist-language=Javascript
