*.chordpro linguist-documentation
*.cho linguist-documentation
*.pro linguist-documentation
*.txt linguist-documentation
*.lst linguist-documentation
#*.pro linguist-documentation
#*.pro linguist-language=Javascript
